/* Login.css */

#login {
    text-decoration: underline;
    margin-bottom: 10px;
  }

  /* LoginButton.css */

.custom-button {
    width: 300px; /* Set the width to 100% for a block-level button */
    font-size: 1.5rem; /* Adjust the font size as needed */
    /* Add any other custom styles you want */
  }
  
