.navbar {
  background-color: white; /* Set background color to white */
  color: black; /* Set text color to black */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}
/* NavBar.css */

/* Add this style to NavBar.css */
.profile-image {
  width: 40px; /* Adjust the width to your preference */
  height: 40px; /* Adjust the height to your preference */
  border-radius: 50%; /* Make it circular */
  margin-right: 5px; /* Add some space between the image and the name */
}


/* Add this style to make the profile container align properly */
.profile-info {
  display: flex;
  align-items: center;
}

/* Optionally, add some styles for the profile menu */
.profile-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  right: 10;
  background-color: white; /* Adjust background color as needed */
  border: 1px solid #ccc; /* Add a border for separation */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  display: ${showProfileMenu ? 'block' : 'none'}; /* Show or hide the menu */
}

.profile-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-menu li:hover {
  background-color: #f5f5f5; /* Change background color on hover */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  margin: 0 auto;
}
.profile-name {
  margin-right: 20px; /* Adjust the margin as needed */
}
.center-menu {
  flex-grow: 1;
  text-align: center;
}

/* NavBar.css */

.search-container {
  margin-right: 20px;
  position: relative;
}

.search-container input {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 1px;
  margin-right: 100px;
  border: 1px solid #000;
  background-color: #FCECEC;
  border-radius: 30px; /* Add border radius */
  outline: none; /* Remove the default input outline */
  padding-left: 30px; /* Adjust padding to make space for the search icon */
}

.search-container .search-icon {
  position: absolute;
  left: 5px; /* Adjust the left position of the search icon */
  top: 50%;
  transform: translateY(-50%);
  color: #000; /* Set the color to black */
}
.search-icon {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

.nav-logo {
  color: #000;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-logo .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 16px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #000;
}

.nav-item .active {
  color: #000;
  
}

.nav-icon {
  display: none;
  color: #000;
}

.nav-icon .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #000;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    background: white; /* Change background color for mobile menu */
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item .active {
    color: #000;
    border: none;
  }

  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    color: black; /* Change text color for mobile menu links */
  }

  .nav-logo .icon {
    width: 2rem;
    height: 2rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #000;
  }
}
